<div class="header">
  <h5>Lista Spettacoli</h5>
</div>
<div class="control-section">
  <ejs-grid  [dataSource]='data' allowPaging='true' [pageSettings]='pageSettings' [editSettings]='editSettings'>
    <e-columns>
      <e-column field='Title' headerText='Titolo spettacolo' width='120' textAlign='Right'  [validationRules]='titlerules'></e-column>
      <e-column field='Description' headerText='Descrizione spettacolo' width='160' textAlign='Center' [validationRules]='descriptionrules'></e-column>
      <e-column field='Cover' headerText='Copertina' width='120' format='C2' textAlign='Right' isPrimaryKey="True" [validationRules]='coverrules'></e-column>
      <e-column field='Date' headerText='Data' width='130' type='date' format='yMd' editType='datepickeredit' textAlign='Right'></e-column>
      <e-column field='StartTime' headerText='Orario Inizio' width='150' [edit]='editparams'></e-column>
      <e-column field='EndTime' headerText='Orario Fine' width='150'  [edit]='editparams'></e-column>
      <e-column field='Nationality' headerText='Nazionalità' width='150' [edit]='editparams'></e-column>
      <e-column headerText='Modifica' width='160' [commands]='commands'></e-column>
    </e-columns>
  </ejs-grid>
</div>
