<div class="header">
  <h5>Lista Spettacoli</h5>
</div>
<div class="control-section">
  <ejs-grid  [dataSource]='data' allowPaging='true' [pageSettings]='pageSettings' [editSettings]='editSettings'>
    <e-columns>
      <e-column field='name' headerText='Titolo spettacolo' width='120' textAlign='Center'  [validationRules]='titlerules'></e-column>
      <e-column field='description' headerText='Descrizione spettacolo' width='160' textAlign='Center' [validationRules]='descriptionrules'></e-column>
      <e-column headerText='Copertina' width='120' format='C2' textAlign='Center' isPrimaryKey="True" [validationRules]='coverrules'>
        <ng-template #template let-data>
          <a href="{{data.photoUrl}}">
            <img src="../../../../../assets/logos/movie.png" />
          </a>
        </ng-template>
      </e-column>
      <e-column field='date' headerText='Data' width='130' type='date' format='yMd' editType='datepickeredit' textAlign='Center'></e-column>
      <e-column field='startTime' headerText='Orario Inizio' textAlign='Center' width='150' [edit]='editparams'></e-column>
      <e-column field='endTime' headerText='Orario Fine' textAlign='Center' width='150'  [edit]='editparams'></e-column>
      <e-column field='language' headerText='Nazionalità' textAlign='Center' width='150' [edit]='editparams'></e-column>
      <e-column headerText='Modifica' width='160' [commands]='commands'></e-column>
    </e-columns>
  </ejs-grid>
</div>
