/* You can add global styles to this file, and also import other style files */
@import '../styles/bootstrap4.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.nopad {
  padding: 0;
}

.slick-list {
  padding: 40px 50px !important;
}

